
.button{
  margin: 8px 0;
  border-radius: 8px;
  padding: 8px;
  color: white;

  &[data-type='default']{
    background-color: #2a69c7;
  }

  &[data-type='danger']{
    background-color: #d53131;
  }
}