#__next {
  height: 100%;
}

html{
  height: 100%;
}

body{
  height: 100%;
}

/**
 * Link
 */

 a {
  background-color: transparent; /* Remove the gray background on active links in IE 10. */
  -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+. */

  &,
  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }

  color: black;
}

/**
 * Typography
 */

/* Remove defalut margin / padding / list-style */

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}



